<article class="card">
    <section class="header text-white">
        <h2>{{name}}</h2>
        <h3>{{icon}} {{role}}</h3>
    </section>
    
    <section class="main d-flex justify-content-center">
        <table class="table">
            <tbody>
                <tr>
                    <td>ID: {{id}}</td>
                </tr>
                <tr>
                    <td>E-mail: <a href = "mailto:{{email}}">{{email}}</a></td>
                </tr>
                <tr>
                    <td>{{key}}: {{value}}</td>
                </tr>
            </tbody>
        </table>
    </section>
</article>